#topimage{
    background-position: center;
    background-size: cover;
}
#midleimage{
    background-position: center;
    background-size: cover;
}

#titulocharla {
    margin: 2px 142px;
}